

/***** HEADER ******/
body{
  height:auto;
}

a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}

:root {
  /*   color variables */
  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #417da1;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;

  /*   border radius */
  --radius: 0.2rem;
}

header{
  display:flex;
  flex-direction: column;
}

.bar-1{
  background-color: #f0f5f7;
  width: 100%;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  border-radius: var(--radius);
}

.bar-1-ul{
  margin-top: 1em;
  margin-right: 6rem;
  padding-left: 9rem;
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bar-item-1{
  width: 8%;
  padding: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.bar-item-1 a{
  text-decoration: none;
  font-size: 1.25rem;
  color: black;
  transition: all 200ms ease-in;
  display: flex;
}

.bar-item-1 a:hover {
  color: var(--clr-primary-dark);
}


.share-2{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}

.search-bar{
  width: 50%;
  padding-left: 4vh;
  margin-top: 40px;
  margin-left: 70vh;
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.logo-area{

  width: 25%;
  position: absolute;
  height: auto;
  display: flex;
  justify-content: center;
  margin-left: 8rem;
  margin-bottom:0;
}

.bar-2{
  width:75%;
  height: 3vh;
  margin-left: 17.5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.bar-item-2{  
  width: 8%;
  list-style: none;
  padding: 1.2rem;
  color: black;
  transition: all 200ms ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.bar-item-2 img{
width:3.3vh;
height: 3.3vh;
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
position: absolute;
}

.bar-item-2 img.top:hover {
  opacity:0;
}


/***** JUMBOTRON ******/

.jumbotron-video {
display: flex;
align-items:center;
justify-content: center;
position:relative;
}
.jumbotron-video video{
  margin-top: 3.5vh;
  width:90%;
  overflow: hidden;
  position:relative;
  z-index:0;
}

.ad-text{
  color:#fff;
  margin-top: 52.5vh;
  margin-left: 21vh;
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  flex-direction: column;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}

.ad-text h2{
font-family: ;
}
.ad-text h3{
  font-family: ;
}
.ad-text button{
  width: 8vh;
  margin-left: 2vh;
  display: flex;
  justify-content: center;
  align-content: center;}

  button a:hover, a:active {
  background-color: green;
  cursor: pointer;
  }


/***** BLOG ******/

.blog{
width: 100%;
height: 7vh;
}

.containers-header{
width: 100%;
display: flex;
justify-content: center;
align-content: center;

}
.container{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.gallery-container{
  display:flex;
  width: 30%;
}

.gallery-item .image{
  width:100%;
  height:auto;
  display: flex;
  position: relative;
  overflow:hidden;
}

.gallery-item .image img{
  width:100%;
  height:auto;
  display: flex;
  object-position:50% 50%;
  cursor:pointer;
  transition:.5s ease-in-out;
  position: relative;
}
.gallery-item:hover .image img{
  display: flex;
  transform:scale(1.5);
  position: relative;
}

.gallery-item:hover .text{
  position: absolute;
  opacity:1;
  animation: move-down .3s linear;
}

.down-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.text-box {
  margin-top: 80vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
}


/**FOOTER 4 COLUMNS**/

.footer-four-columns{
background-color: #cbced0;
width: 90.2%;
height:25vh;
margin-left: 5%;
margin-top:53.6vh;
display: flex;
justify-content: center;
align-content: center;
}

.info-columns{
  padding:2%;
  width: 14%;
  display: flex;
  justify-content: center;
  align-content: center;
  row-gap: 2vh;
  align-items: stretch
}
  
.info-header a{
  width: 100%;
  color: #225846;
  line-height:2rem;
  font-size:1rem;
  display: flex;
}

#diff{
 width:100%;
 display: flex;
}

#diff a{
text-align: center;
color: rgba(6, 22, 49, 0.902);
text-shadow: 2px 3px #aadadd;
}

#diff-2{
  text-align: center;
  justify-content: center;
}
.list-item a{
  color: #5a6d5a;
  text-decoration: none;
  list-style: none;
}

.list-item a:hover{
  color: #2f3397;
  text-decoration: underline;
  list-style-type: none;
}



/*FOOTER FOUNDER MESAAGE*/
.personal{
  border-color:  rgba(230, 205, 172, 0.282);
  border-width: 3vh;
  margin-top: 3vh;
  margin-left:9.8vh;
  width: 89.76%;
  height: 31.25vh;
  display: flex;
  justify-items: center;
  align-items: center;
}
#box-one{
  margin-left: 0;
  width: 25%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;

}
#box-two{
  width:15%;
  height: auto;
  object-fit: fill;
  justify-content: center;
  align-content: center;
}

.diff-style{
  font-size: 1.5rem;
}
#box-three{
  width:10%;
  display: flex;
  flex-direction: column;

}
#box-three img{
  width:3vh;
  height: auto;
} 


#box-three li {
  list-style-type: none;
  text-decoration: none;
}


#box-three li a{
  list-style-type: none;
  text-decoration: none;
}
#box-four {
  object-fit: fill;
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;

}

.copyrights {
  width: 100%;
  height: 4vh;
  padding:2rem;
  display: flex;
  justify-content: center;
}
.copyrights p{
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes move-down{
0%{
  top:10%;
}
50%{
  top:35%;
}
100%{
  top:50%;
}

